#### 미세먼지 현황 분석

##### 데이터 수집 사이트

- 에어코리아
- 기상청

In [1]:
import pandas as pd
import numpy as np

In [5]:
dust2210 = pd.read_excel('./raw/202210_data_past_day.xlsx')
dust2210.drop(axis=0, index=[0], inplace=True)
dust2210

            날짜 PM10 PM2.5    오 존  이산화질소 일산화탄소  아황산가스
1   2022-10-01   77    60  0.029  0.046   0.9  0.003
2   2022-10-02   37    27  0.021  0.027   0.7  0.003
3   2022-10-03   10     8  0.018  0.014   0.6  0.002
4   2022-10-04   18     8  0.016  0.017   0.6  0.002
5   2022-10-05   19     8  0.014  0.022   0.6  0.003
6   2022-10-06    9     4  0.011  0.020   0.5  0.003
7   2022-10-07   13     6  0.011  0.024   0.5  0.003
8   2022-10-08   10     5  0.012  0.025   0.5  0.003
9   2022-10-09    8     4  0.019  0.018   0.4  0.002
10  2022-10-10    9     4  0.022  0.013   0.3  0.002
11  2022-10-11   19     9  0.013  0.022   0.5  0.003
12  2022-10-12   22    11  0.008  0.031   0.6  0.003
13  2022-10-13   23    10  0.008  0.033   0.7  0.003
14  2022-10-14   30    17  0.008  0.038   0.8  0.003
15  2022-10-15   33    20  0.010  0.037   0.8  0.003
16  2022-10-16   43    28  0.008  0.032   0.8  0.003
17  2022-10-17   37    10  0.016  0.020   0.5  0.003
18  2022-10-18   27     9  0.011  0.025   0.5  0.003
19  2022-10-19   29    10  0.007  0.032   0.5  0.004
20  2022-10-20   41    20  0.008  0.041   0.6  0.003
21  2022-10-21   58    39  0.014  0.047   0.7  0.004
22  2022-10-22   54    39  0.016  0.039   0.7  0.003
23  2022-10-23   45    23  0.026  0.020   0.5  0.003
24  2022-10-24   32    11  0.012  0.030   0.5  0.003
25  2022-10-25   18     6  0.008  0.031   0.5  0.003
26  2022-10-26   22     7  0.006  0.037   0.6  0.003
27  2022-10-27   38    18  0.010  0.040   0.7  0.003
28  2022-10-28   47    30  0.010  0.038   0.8  0.003
29  2022-10-29   34    19  0.009  0.037   0.8  0.003
30  2022-10-30   28    18  0.011  0.034   0.8  0.003
31  2022-10-31   30    16  0.010  0.037   0.7  0.003

In [6]:
dust2210.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 1 to 31
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      31 non-null     object
 1   PM10    31 non-null     object
 2   PM2.5   31 non-null     object
 3   오 존     31 non-null     object
 4   이산화질소   31 non-null     object
 5   일산화탄소   31 non-null     object
 6   아황산가스   31 non-null     object
dtypes: object(7)
memory usage: 1.8+ KB

In [8]:
dust2210.rename(columns={'날짜':'date', 'PM10' : 'pm10',
 '오 존' : 'o3', '이산화질소' : 'no2', '일산화탄소' : 'co', '아황산가스':'so2'}, inplace=True)
dust2210

          date pm10 PM2.5     o3    no2   co    so2
1   2022-10-01   77    60  0.029  0.046  0.9  0.003
2   2022-10-02   37    27  0.021  0.027  0.7  0.003
3   2022-10-03   10     8  0.018  0.014  0.6  0.002
4   2022-10-04   18     8  0.016  0.017  0.6  0.002
5   2022-10-05   19     8  0.014  0.022  0.6  0.003
6   2022-10-06    9     4  0.011  0.020  0.5  0.003
7   2022-10-07   13     6  0.011  0.024  0.5  0.003
8   2022-10-08   10     5  0.012  0.025  0.5  0.003
9   2022-10-09    8     4  0.019  0.018  0.4  0.002
10  2022-10-10    9     4  0.022  0.013  0.3  0.002
11  2022-10-11   19     9  0.013  0.022  0.5  0.003
12  2022-10-12   22    11  0.008  0.031  0.6  0.003
13  2022-10-13   23    10  0.008  0.033  0.7  0.003
14  2022-10-14   30    17  0.008  0.038  0.8  0.003
15  2022-10-15   33    20  0.010  0.037  0.8  0.003
16  2022-10-16   43    28  0.008  0.032  0.8  0.003
17  2022-10-17   37    10  0.016  0.020  0.5  0.003
18  2022-10-18   27     9  0.011  0.025  0.5  0.003
19  2022-10-19   29    10  0.007  0.032  0.5  0.004
20  2022-10-20   41    20  0.008  0.041  0.6  0.003
21  2022-10-21   58    39  0.014  0.047  0.7  0.004
22  2022-10-22   54    39  0.016  0.039  0.7  0.003
23  2022-10-23   45    23  0.026  0.020  0.5  0.003
24  2022-10-24   32    11  0.012  0.030  0.5  0.003
25  2022-10-25   18     6  0.008  0.031  0.5  0.003
26  2022-10-26   22     7  0.006  0.037  0.6  0.003
27  2022-10-27   38    18  0.010  0.040  0.7  0.003
28  2022-10-28   47    30  0.010  0.038  0.8  0.003
29  2022-10-29   34    19  0.009  0.037  0.8  0.003
30  2022-10-30   28    18  0.011  0.034  0.8  0.003
31  2022-10-31   30    16  0.010  0.037  0.7  0.003

In [9]:
dust2210.dtypes

date     object
pm10     object
PM2.5    object
o3       object
no2      object
co       object
so2      object
dtype: object

In [18]:
dust2210 = dust2210.astype({'date':'datetime64[ns]', 'pm10':'int64'})
dust2210

         date  pm10 PM2.5     o3    no2   co    so2
1  2022-10-01    77    60  0.029  0.046  0.9  0.003
2  2022-10-02    37    27  0.021  0.027  0.7  0.003
3  2022-10-03    10     8  0.018  0.014  0.6  0.002
4  2022-10-04    18     8  0.016  0.017  0.6  0.002
5  2022-10-05    19     8  0.014  0.022  0.6  0.003
6  2022-10-06     9     4  0.011  0.020  0.5  0.003
7  2022-10-07    13     6  0.011  0.024  0.5  0.003
8  2022-10-08    10     5  0.012  0.025  0.5  0.003
9  2022-10-09     8     4  0.019  0.018  0.4  0.002
10 2022-10-10     9     4  0.022  0.013  0.3  0.002
11 2022-10-11    19     9  0.013  0.022  0.5  0.003
12 2022-10-12    22    11  0.008  0.031  0.6  0.003
13 2022-10-13    23    10  0.008  0.033  0.7  0.003
14 2022-10-14    30    17  0.008  0.038  0.8  0.003
15 2022-10-15    33    20  0.010  0.037  0.8  0.003
16 2022-10-16    43    28  0.008  0.032  0.8  0.003
17 2022-10-17    37    10  0.016  0.020  0.5  0.003
18 2022-10-18    27     9  0.011  0.025  0.5  0.003
19 2022-10-19    29    10  0.007  0.032  0.5  0.004
20 2022-10-20    41    20  0.008  0.041  0.6  0.003
21 2022-10-21    58    39  0.014  0.047  0.7  0.004
22 2022-10-22    54    39  0.016  0.039  0.7  0.003
23 2022-10-23    45    23  0.026  0.020  0.5  0.003
24 2022-10-24    32    11  0.012  0.030  0.5  0.003
25 2022-10-25    18     6  0.008  0.031  0.5  0.003
26 2022-10-26    22     7  0.006  0.037  0.6  0.003
27 2022-10-27    38    18  0.010  0.040  0.7  0.003
28 2022-10-28    47    30  0.010  0.038  0.8  0.003
29 2022-10-29    34    19  0.009  0.037  0.8  0.003
30 2022-10-30    28    18  0.011  0.034  0.8  0.003
31 2022-10-31    30    16  0.010  0.037  0.7  0.003

In [21]:
dust2210['year'] = dust2210['date'].dt.year
dust2210['month'] = dust2210['date'].dt.month
dust2210['day'] = dust2210['date'].dt.day
dust2210

         date  pm10 PM2.5     o3    no2   co    so2  year  month  day
1  2022-10-01    77    60  0.029  0.046  0.9  0.003  2022     10    1
2  2022-10-02    37    27  0.021  0.027  0.7  0.003  2022     10    2
3  2022-10-03    10     8  0.018  0.014  0.6  0.002  2022     10    3
4  2022-10-04    18     8  0.016  0.017  0.6  0.002  2022     10    4
5  2022-10-05    19     8  0.014  0.022  0.6  0.003  2022     10    5
6  2022-10-06     9     4  0.011  0.020  0.5  0.003  2022     10    6
7  2022-10-07    13     6  0.011  0.024  0.5  0.003  2022     10    7
8  2022-10-08    10     5  0.012  0.025  0.5  0.003  2022     10    8
9  2022-10-09     8     4  0.019  0.018  0.4  0.002  2022     10    9
10 2022-10-10     9     4  0.022  0.013  0.3  0.002  2022     10   10
11 2022-10-11    19     9  0.013  0.022  0.5  0.003  2022     10   11
12 2022-10-12    22    11  0.008  0.031  0.6  0.003  2022     10   12
13 2022-10-13    23    10  0.008  0.033  0.7  0.003  2022     10   13
14 2022-10-14    30    17  0.008  0.038  0.8  0.003  2022     10   14
15 2022-10-15    33    20  0.010  0.037  0.8  0.003  2022     10   15
16 2022-10-16    43    28  0.008  0.032  0.8  0.003  2022     10   16
17 2022-10-17    37    10  0.016  0.020  0.5  0.003  2022     10   17
18 2022-10-18    27     9  0.011  0.025  0.5  0.003  2022     10   18
19 2022-10-19    29    10  0.007  0.032  0.5  0.004  2022     10   19
20 2022-10-20    41    20  0.008  0.041  0.6  0.003  2022     10   20
21 2022-10-21    58    39  0.014  0.047  0.7  0.004  2022     10   21
22 2022-10-22    54    39  0.016  0.039  0.7  0.003  2022     10   22
23 2022-10-23    45    23  0.026  0.020  0.5  0.003  2022     10   23
24 2022-10-24    32    11  0.012  0.030  0.5  0.003  2022     10   24
25 2022-10-25    18     6  0.008  0.031  0.5  0.003  2022     10   25
26 2022-10-26    22     7  0.006  0.037  0.6  0.003  2022     10   26
27 2022-10-27    38    18  0.010  0.040  0.7  0.003  2022     10   27
28 2022-10-28    47    30  0.010  0.038  0.8  0.003  2022     10   28
29 2022-10-29    34    19  0.009  0.037  0.8  0.003  2022     10   29
30 2022-10-30    28    18  0.011  0.034  0.8  0.003  2022     10   30
31 2022-10-31    30    16  0.010  0.037  0.7  0.003  2022     10   31

#### 기상청 데이터 확인 및 전처리

In [26]:
weather_2210 = pd.read_excel('./raw/OBS_AWS_TIM_202210_data.xlsx')
weather_2210

      지점 지점명                  일시  기온(°C)  풍속(m/s)  강수량(mm)  습도(%)
0    400  강남 2022-10-01 00:00:00    18.0      0.0      0.0     93
1    400  강남 2022-10-01 01:00:00    17.2      0.1      0.0     96
2    400  강남 2022-10-01 02:00:00    16.3      0.0      0.0     96
3    400  강남 2022-10-01 03:00:00    16.0      0.0      0.0     96
4    400  강남 2022-10-01 04:00:00    15.5      0.1      0.0     96
..   ...  ..                 ...     ...      ...      ...    ...
739  400  강남 2022-10-31 19:00:00    15.9      1.1      0.0     65
740  400  강남 2022-10-31 20:00:00    13.6      0.0      0.0     79
741  400  강남 2022-10-31 21:00:00    13.4      0.3      0.0     80
742  400  강남 2022-10-31 22:00:00    13.9      0.6      0.0     80
743  400  강남 2022-10-31 23:00:00    13.2      0.8      0.0     82

[744 rows x 7 columns]

In [27]:
weather_2210.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 744 entries, 0 to 743
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   지점       744 non-null    int64
 1   지점명      744 non-null    object
 2   일시       744 non-null    datetime64[ns]
 3   기온(°C)   744 non-null    float64
 4   풍속(m/s)  694 non-null    float64
 5   강수량(mm)  744 non-null    float64
 6   습도(%)    744 non-null    int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(1)
memory usage: 40.8+ KB

In [28]:
weather_2210.drop('지점', axis=1, inplace=True)
weather_2210.drop('지점명', axis=1, inplace=True)

In [29]:
weather_2210

                     일시  기온(°C)  풍속(m/s)  강수량(mm)  습도(%)
0   2022-10-01 00:00:00    18.0      0.0      0.0     93
1   2022-10-01 01:00:00    17.2      0.1      0.0     96
2   2022-10-01 02:00:00    16.3      0.0      0.0     96
3   2022-10-01 03:00:00    16.0      0.0      0.0     96
4   2022-10-01 04:00:00    15.5      0.1      0.0     96
..                  ...     ...      ...      ...    ...
739 2022-10-31 19:00:00    15.9      1.1      0.0     65
740 2022-10-31 20:00:00    13.6      0.0      0.0     79
741 2022-10-31 21:00:00    13.4      0.3      0.0     80
742 2022-10-31 22:00:00    13.9      0.6      0.0     80
743 2022-10-31 23:00:00    13.2      0.8      0.0     82

[744 rows x 5 columns]

In [31]:
weather_2210.columns = ['date', 'temp', 'wind', 'rain', 'humid']
weather_2210.head()

                 date  temp  wind  rain  humid
0 2022-10-01 00:00:00  18.0   0.0   0.0     93
1 2022-10-01 01:00:00  17.2   0.1   0.0     96
2 2022-10-01 02:00:00  16.3   0.0   0.0     96
3 2022-10-01 03:00:00  16.0   0.0   0.0     96
4 2022-10-01 04:00:00  15.5   0.1   0.0     96

In [33]:
weather_2210['date'] = pd.to_datetime(weather_2210['date']).dt.date

In [35]:
weather_2210 = weather_2210.astype({'date':'datetime64[ns]'})

In [36]:
weather_2210

          date  temp  wind  rain  humid
0   2022-10-01  18.0   0.0   0.0     93
1   2022-10-01  17.2   0.1   0.0     96
2   2022-10-01  16.3   0.0   0.0     96
3   2022-10-01  16.0   0.0   0.0     96
4   2022-10-01  15.5   0.1   0.0     96
..         ...   ...   ...   ...    ...
739 2022-10-31  15.9   1.1   0.0     65
740 2022-10-31  13.6   0.0   0.0     79
741 2022-10-31  13.4   0.3   0.0     80
742 2022-10-31  13.9   0.6   0.0     80
743 2022-10-31  13.2   0.8   0.0     82

[744 rows x 5 columns]

In [37]:
weather_2210['wind'].fillna(0.0)

0      0.0
1      0.1
2      0.0
3      0.0
4      0.1
      ...
739    1.1
740    0.0
741    0.3
742    0.6
743    0.8
Name: wind, Length: 744, dtype: float64

In [39]:
# 강수량은 0.1 단위로 측정
weather_2210['rain'] = weather_2210['rain'].replace([0], 0.01)
weather_2210['rain'].value_counts()

rain
0.01     697
0.50      15
2.00       6
1.50       6
2.50       6
1.00       4
4.00       2
5.50       2
3.00       1
5.00       1
3.50       1
12.00      1
6.00       1
6.50       1
Name: count, dtype: int64