<h3>Pandas 기초</h3>

<p style="font-weight:bold">Pandas란?</p> 
엑셀과 같은 테이블 형태로 데이터를 다루는 파이썬 라이브러리(모듈)<br>  
데이터 분석을 위한 추상자료구조(DataFrame)를 제공하는 데이터 분석도구  
<div style="font-size:15px">
- 엑셀/CSV 데이터 읽어오기<br>
- 데이터 처리<br>
- 엑셀/CSV 데이터 저장하기<br>
</div>

#### Pandas 용어
- DataFrame(표), Series(리스트)
- Index, Columns, Values, (x, y)Series

##### Pandas 사용
- 판다스 설치
```
pip install pandas (콘솔)
!pip install pandas (주피터 노트북)
```

In [2]:
!pip install pandas

Requirement already satisfied: pandas in c:\program files\python311\lib\site-packages (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\program files\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\program files\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\program files\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\program files\python311\lib\site-packages (from pandas) (1.25.0)
Requirement already satisfied: six>=1.5 in c:\program files\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

##### 설치된 패키지 확인

In [4]:
!pip list

Package           Version
----------------- -------
asttokens         2.2.1
backcall          0.2.0
colorama          0.4.6
comm              0.1.3
debugpy           1.6.7
decorator         5.1.1
executing         1.2.0
Faker             18.11.1
ipykernel         6.23.2
ipython           8.14.0
jedi              0.18.2
jupyter_client    8.2.0
jupyter_core      5.3.1
matplotlib-inline 0.1.6
nest-asyncio      1.5.6
numpy             1.25.0
packaging         23.1
pandas            2.0.2
parso             0.8.3
pickleshare       0.7.5
pip               23.1.2
platformdirs      3.7.0
prompt-toolkit    3.0.38
psutil            5.9.5
pure-eval         0.2.2
Pygments          2.15.1
python-dateutil   2.8.2
pytz              2023.3
pywin32           306
pyzmq             25.1.0
setuptools        65.5.0
six               1.16.0
stack-data        0.6.2
tornado           6.3.2
traitlets         5.9.0
tzdata            2023.3
wcwidth           0.2.6

##### 판다스 import
```pandas
import pandas as pd
```

In [5]:
import pandas as pd

#### 시리즈

판다스 한행, 한열 나열해서 보는 배열형식 데이터 다입

<img src="https://velog.velcdn.com/images%2Fgjtjsdn1%2Fpost%2F41aab35d-d5bc-4a3f-b0fa-1c8770bf2eb9%2Fimage.png" width="500">

<img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Ft1.daumcdn.net%2Fcfile%2Ftistory%2F995809335BFBCC922B" width="500">

In [8]:
# 시리즈 생성
grade = pd.Series(data=['길동이', 90, 50, 75, 100], index=['이름', '국어', '영어', '수학', '미술'])

In [10]:
# 시리즈 출력
grade

이름    길동이
국어     90
영어     50
수학     75
미술    100
dtype: object

In [12]:
# 시리즈 인덱스 출력
grade.index

Index(['이름', '국어', '영어', '수학', '미술'], dtype='object')

In [13]:
# 시리즈 값 출력
grade.values

array(['길동이', 90, 50, 75, 100], dtype=object)

##### 딕셔너리를 시리즈로 변경

파이썬 구조를 판다스에서 쓸 수 있는 형태로 변경해줘야 분석 가능(데이터 전환)

In [15]:
# 딕셔너리 자료 구조 => pandas series 로 변경
original = {"이름" : "길순이", "국어" : 100, "영어" : 100, "수학" : 100, "미술" : 50}
print(f'original 타입 : {type(original)}')
grade2 = pd.Series(data=original)
print(f'grade2 타입 : {type(grade2)}')
grade2

original 타입 : <class 'dict'>
grade2 타입 : <class 'pandas.core.series.Series'>

이름    길순이
국어    100
영어    100
수학    100
미술     50
dtype: object

##### 시리즈 재색인

- 컬럼 개수 변경

In [63]:
grade3 = pd.Series(data=['마루', 10, 10, 10, 10], index=['name', 'korean', 'english', 'math', ''])
grade3

name       마루
korean     10
english    10
math       10
           10
dtype: object

In [35]:
# 시리즈 재색인 : 원래 값에서 필요없는 컬럼을 제거, 혹은 필요한 컬럼을 추가
grade4 = grade3.reindex(index=['name', 'korean', 'english'])
grade4

name       마루
korean     10
english    10
dtype: object

In [38]:
# 필요한 값을 추가할 때
grade5 = grade3.reindex(index=['name', 'korean', 'english', 'math', 'music'], fill_value=0)
grade5

name       마루
korean     10
english    10
math       10
music       0
dtype: object

##### 컬럼 이름을 바꿀 때

In [42]:
# 컬럼명 변경
grade3.rename({'name' : '이름', 'korean' : '국어', 'english' : '영어', 'math' : '수학', '' : '미술'})

이름    마루
국어    10
영어    10
수학    10
미술    10
dtype: object

##### 시리즈 조회

In [43]:
# grade
grade

이름    길동이
국어     90
영어     50
수학     75
미술    100
dtype: object

In [44]:
# 인덱스 번호로 조회 # 리스트 사용과 동일
grade[0]

'길동이'

In [45]:
# 인덱스 명으로 조회
grade['국어']

90

In [46]:
# loc 함수 조회
grade.loc['수학']

75

In [51]:
# 다중인덱스 # reindex 와 유사
grade[['이름', '수학']]

이름    길동이
수학     75
dtype: object

In [52]:
grade.reindex(index=['이름', '수학'])

이름    길동이
수학     75
dtype: object

조건문

In [53]:
# grade 시리즈에 null 값이 있는지 확인
grade.isnull()

이름    False
국어    False
영어    False
수학    False
미술    False
dtype: bool

In [64]:
grade6 = pd.Series(data=['마루', 10, 10, None, None], index=['name', 'korean', 'english', 'math', ''])
grade6

name         마루
korean       10
english      10
math       None
           None
dtype: object

In [65]:
grade6.isnull() # null == none

name       False
korean     False
english    False
math        True
            True
dtype: bool

In [66]:
# 데이터 분석할 때 결측치(비어있는 값)을 찾아낼 때 사용
grade6[grade6.isnull()]

math    None
        None
dtype: object

In [67]:
# 값이 있으면 True 없으면 False
grade6.notnull()

name        True
korean      True
english     True
math       False
           False
dtype: bool

In [69]:
# 값 변경
grade6['math'] = 50

In [70]:
# 값 변경 확인
grade6.notnull()

name        True
korean      True
english     True
math        True
           False
dtype: bool

In [72]:
# 두가지 값 한번에 변경
grade6 = grade6.rename({'':'art'})
grade6[['korean', 'art']] = (90, 50)
grade6

name       마루
korean     90
english    10
math       50
art        50
dtype: object

##### 시리즈 삭제

In [77]:
# 한번에 지우기
del grade6['art']

In [78]:
grade6

name       마루
korean     90
english    10
dtype: object

In [81]:
# 시리즈에서 잠시 드랍 => 할당필요
grade6 = grade6.drop('english')

In [82]:
grade6

name      마루
korean    90
dtype: object

##### 시리즈 이름

In [83]:
grade

이름    길동이
국어     90
영어     50
수학     75
미술    100
dtype: object

In [87]:
# 시리즈 이름

grade.name = '길동 성적'

In [88]:
grade

이름    길동이
국어     90
영어     50
수학     75
미술    100
Name: 길동 성적, dtype: object

In [89]:
grade.name

'길동 성적'

##### 함수(통계함수)

In [90]:
grade

이름    길동이
국어     90
영어     50
수학     75
미술    100
Name: 길동 성적, dtype: object

In [91]:
grade.describe()

count       5
unique      5
top       길동이
freq        1
Name: 길동 성적, dtype: object

In [92]:
import numpy as np

s1 = pd.Series(np.random.randn(10))
s1

0    0.516355
1   -0.511974
2   -1.043583
3   -1.247097
4    0.165693
5   -0.139083
6   -1.643564
7    1.276315
8    0.364740
9    1.821545
dtype: float64

In [95]:
s1.describe()
# count    총수(빈도수)
# mean     평균
# std      표준편차 
# min      최소값
# 25%      1사분위 (하위 25%)
# 50%      2사분위 (중앙값)
# 75%      3사분위 (상위 75%)
# max      최대값

count    10.000000
mean     -0.044065
std       1.104626
min      -1.643564
25%      -0.910681
50%       0.013305
75%       0.478451
max       1.821545
dtype: float64

In [128]:
# 음수제거, 10을 곱해서 10단위 수로 만들기, 반올림해서 소수점 제거
sint = s1.abs().map(lambda x: x * 10).round()
sint

0     5.0
1     5.0
2    10.0
3    12.0
4     2.0
5     1.0
6    16.0
7    13.0
8     4.0
9    18.0
dtype: float64

##### count 빈도수 계산 함수

- None, null, NaN (값 정의 불가)

In [96]:
s2 = pd.Series([1, 3, 5, np.nan] * 4) # np.nan == None
s2

0     1.0
1     3.0
2     5.0
3     NaN
4     1.0
5     3.0
6     5.0
7     NaN
8     1.0
9     3.0
10    5.0
11    NaN
12    1.0
13    3.0
14    5.0
15    NaN
dtype: float64

In [98]:
s2.describe()

count    12.000000
mean      3.000000
std       1.705606
min       1.000000
25%       1.000000
50%       3.000000
75%       5.000000
max       5.000000
dtype: float64

In [99]:
# 빈도 계산
s2.value_counts()

1.0    4
3.0    4
5.0    4
Name: count, dtype: int64

In [100]:
# 빈도 계산(결측치도 포함)
s2.value_counts(dropna=False)

1.0    4
3.0    4
5.0    4
NaN    4
Name: count, dtype: int64

In [104]:
# 빈도계산(비율 / 정규화)
s2.value_counts(normalize=True, dropna=False)

1.0    0.25
3.0    0.25
5.0    0.25
NaN    0.25
Name: proportion, dtype: float64

In [105]:
# 빈도계산(구간)
s2.value_counts(bins=3)

(0.995, 2.333]    4
(2.333, 3.667]    4
(3.667, 5.0]      4
Name: count, dtype: int64

##### 결측치 확인

- null 값은 전체 카운트에서 제외되기 때문에 결측치 확인 필수

In [108]:
# 결측치가 들어있는 값의 개수
s2.isnull().sum()

4

##### 결측치 없애기
- 방법 1) 결측치 삭제 - 통계치 전부 변경
- 방법 2) 결측치 채움 - 0으로 대체, 또는 평균값으로 대체

In [109]:
# NaN을 평균으로 채움
s2.fillna(3.0)

0     1.0
1     3.0
2     5.0
3     3.0
4     1.0
5     3.0
6     5.0
7     3.0
8     1.0
9     3.0
10    5.0
11    3.0
12    1.0
13    3.0
14    5.0
15    3.0
dtype: float64

##### 데이터 대치 map

pandas.map()

In [111]:
s4 = pd.Series([1, 2, 3] * 3)
mapping = {1 : 'Basic', 2 : 'Middle', 3 : 'Advanced'}

In [112]:
# mapping
s4.map(mapping)

0       Basic
1      Middle
2    Advanced
3       Basic
4      Middle
5    Advanced
6       Basic
7      Middle
8    Advanced
dtype: object

In [115]:
s4.map('Curr value is {0}'.format)

0    Curr value is 1
1    Curr value is 2
2    Curr value is 3
3    Curr value is 1
4    Curr value is 2
5    Curr value is 3
6    Curr value is 1
7    Curr value is 2
8    Curr value is 3
dtype: object

In [116]:
s4.map(lambda x: x ** 2)

0    1
1    4
2    9
3    1
4    4
5    9
6    1
7    4
8    9
dtype: int64

##### 시리즈 부분출력

- 앞단 5개만 출력

In [118]:
s4.head()

0    1
1    2
2    3
3    1
4    2
dtype: int64

- 끝에 5개만 출력

In [121]:
s4.tail()

4    2
5    3
6    1
7    2
8    3
dtype: int64

In [123]:
# 숫자입력 가능
s4.tail(3)

6    1
7    2
8    3
dtype: int64